@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating-star {
  display: inline-block;
  color: gold;
  margin-left: 4px;
  animation: rotate 2s linear infinite;
} 